*{margin:0;padding:0}
body{font-family:Helvetica,Arial, sans-serif;background-color:#eee;overflow:auto}
h1{display:inline;font-weight:400;color:#4cdb55;font-size:21px}
h2{display:inline;font-weight:400;font-size:21px}
p{color:#777;margin-top:15px}
a{text-decoration:none;color:#68ccb8;border-bottom:1px solid #68ccb8}
a:hover{color:#21deb8;border-bottom:1px solid #21deb8}
.wrap{text-align:left;width:380px;margin-left:auto;margin-right:auto;margin-top:180px}
.linkbox{font-size:17px}
.linkBox .box{height:22px;padding-top:2px;text-align:center;padding:5px;background-color:#fff;border:1px solid #ccc;border-radius:5px;}
.dark,h2{color:#555}
input{font-size:19px;padding:5px;background-color: white;border:1px solid #21deb8;border-radius:5px}
button{font-size:19px;padding:5px 10px;margin-left:5px;background-color:#21deb8;border:1px solid #21deb8;border-radius:5px;color:white;cursor:pointer}
button:hover{background-color:#68ccb8;border-color:#68ccb8}
.spinner{height:11px;width:16px;}
.linkBox small{margin-top:15px;display:inline-block}
.linkBox small a{color:#666;border-bottom:1px solid #666}
.linkBox small a:hover{color:#888;border-bottom:1px solid #888}
input.ng-invalid{border-color:#E89897}
input[type="url"]:focus{border-color:none;box-shadow:inset 0 0 4px 1px #68ccb8;-webkit-box-shadow:inset 0 0 4px 1px #68ccb8;outline: -webkit-focus-ring-color auto 0px}
input.ng-invalid:focus{border-color:#E89897;box-shadow:inset 0 0 4px 1px #E89897;-webkit-box-shadow:inset 0 0 4px 1px #E89897}
.logo{height:50px;width:100px;background:url("/images/logo.png") 0px 0px;margin-left:-10px}