*{margin:0;padding:0}
body{font-family:Georgia, 'Times New Roman', serif;background-color:#eee;overflow:auto}
h1{display:inline;font-weight:400;color:#4cdb55;font-size:320%}
h2{display:inline;font-weight:400;font-size:320%}
p{color:#777;margin-top:15px}
a{text-decoration:none;color:#888;border-bottom:1px solid #888}
a:hover{color:#666;border-bottom:1px solid #666}
.wrap{position:absolute;text-align:left;margin-left:10%;margin-right:10%;top:25%}
.dark,h2{color:#555}
input{font-size:19px;padding:5px;background-color: white;border:1px solid #21deb8;border-radius: 5px;}
button{font-size:19px;padding:5px 10px;margin-left:5px;background-color:#21deb8;border:1px solid #21deb8;border-radius:5px;color:white;cursor:pointer}
button:hover{background-color:#68ccb8;border-color:#68ccb8}
