<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>shubidu - url shortener</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="shubidu">
<div class="wrap" ng-controller="URLController">
    <div class="linkBox" ng-show="url">
        Your shortened url: <a href="{{url.shortLink}}" title="Shortened link">{{url.shortLink}}</a>
        <small><a href="" ng-click="reset()" title="Try another url?">Try another url?</a></small>
    </div>
    <div class="logo" ng-hide="url"></div>
    <form name="urlForm" ng-submit="createURL(urlForm)" ng-hide="url" class="urlForm">
        <input type="url" name="link" ng-model="link" placeholder="e.g. http://google.com" />
        <button type="submit">Shorten</button>
        <span class="spinner" ng-show="spinner"><img src="/images/ajax-loader.gif" /></span>
    </form>
</div>
</body>
</html>
